.admin-login-container {
    height: 100vh;
    width:100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
   min-height:40vh;
   width:30vw;
   /* border: 0.3rem solid #107f24; */
   border: 0.3rem solid #020048;
   border-radius: 2rem;
   background-color: #d4941c;
   font-family: "Ubuntu Sans" , sans-serif;
   font-weight: 700;

   display: flex;
   flex-direction: column;
   align-items: center;
}

.login-box h2{
    transition: color 0.5s;
}
.login-box h2:hover {
    color: #107f24;
}

.admin-login-input {
    border-radius: .5rem;
    height:6vh;
    width: 50%;
    margin-bottom: 2rem;

    background-color: black;
    color:antiquewhite;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* font-weight: bold; */
    font-size: 1rem;
}

.admin-login-input.wrong {
    border:3px solid rgb(122, 0, 0);
}

.login-box span.wrong {
    font-size: 10px;
    color: rgb(122, 0, 0);
    margin-bottom: 5%;
}

.admin-login-button {
    width:20%;
    height:5vh;
    border-radius: 0.5rem;
    background-color:blanchedalmond;

    font-family: "Ubuntu Sans";
    font-weight: bold;
    font-size: 18px;
}
